/venv
/__pycache__

.env
cronjob_access_token.py

test_data/*
!test_data/cropped.mp4
!test_data/color_test_1.mp4
!test_data/color_test_2.mp4
!test_data/color_test_3.mp4

runs/detect/*
!runs/detect/train14/

datasets/*
!datasets/main.py
!datasets/vid_to_img.py