/venv
/__pycache__

.env

test_data/*
!test_data/cropped.mp4
!test_data/color_test_1.mp4
!test_data/color_test_2.mp4
!test_data/color_test_3.mp4
!test_data/multi_color_test.mp4

runs/detect/*
!runs/detect/train14/
!runs/detect/tune4/
!runs/detect/train43/

datasets/*
!datasets/main.py
!datasets/vid_to_img.py